<nav id = "main-page_navbar" class="navbar navbar-default navbar-light bg-white" >
  
  <a id="brand" class="navbar-brand py-3" href="/">GaCheeTa</a>
  <%= current_user.email %>
  <%= current_user.name %>
  <%= current_user.number%>
  <%= current_user.degree%>
  
  <ul class="nav nav-pills navbar-right">
    <li role="presentation" class="active" id="LOGOUT"><a href="/users/sign_out">하차하기</a></li>
  </ul>
  
</nav>


<center>
  <br>
  <br>
  <p style="font-size:10rem">Taxi</p>
</center>

<div>
  <div>
    <br>
    <br>
    <br>
    </div>
  
  <div>
    <div class="col-xs-12 col-sm-12 col-md-4 " >
      <a href ="/taxi/t_host" class ="thumbnail" id="taxi">
          
          방만들기
      </a>
    </div>
  </div>
  
  <div>
    <div class="col-xs-12 col-sm-12 col-md-4 "  >
      <a href ="/taxi/t_guest" class ="thumbnail" id="taxi">
          
          가치타기
      </a>
    </div>
  </div>
</div>   
