/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


#first {
  margin : 35% 0 0 0;
}

#LOGOUT {

  margin : 8px 18px 0 0;
  
}


#taxi {
  height: 50rem;
  font-size : 10rem;
}

.menu {
  height : 30rem;
}

#main-nav {
  background-color: rgba(255, 255, 72, 0.69);
  color: #9c3b3b;
  font-weight: 900;
}

.navbar-toggle.collapsed{
  border-color: black;
}

.icon-bar{
  background-color: black;
}

.form-control {
  color: #9c3b3b;
}

#select{
  height : 4rem;
  
  font-size : 2rem;
}

#user_email {
  height : 5.5rem;
  
}

#user_password {
  height : 5.5rem;
  
}

#brand {
  font-size : 2rem;
  margin : 0 0 0 0;
}
/*t-host css 시작*/
#userinfo {
  font-size : 2rem;
  color : gray;
  display: inline-block;
  position: absolute;
}

#h-word {
  font-size : 2rem;
  
  color : #E91E63;
  line-height: 1.4;

}

#list_start {
  height : 4rem;
  
  font-size : 2rem;
}

#list_gu {
  height : 4rem;
  
  font-size : 2rem;
}

#select1 {
  height : 4rem;
  
  font-size : 2rem;
}
#select2 {
  height : 4rem;
  
  font-size : 2rem;
}
#select3 {
  height : 4rem;
  
  font-size : 2rem;
}
#select4 {
  height : 4rem;
  
  font-size : 2rem;
}
#select5 {
  height : 4rem;
  
  font-size : 2rem;
}
/*t-host css 끝*/